.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.lupa{
    width: 40px;
    max-width: 100%;
    border-radius: 100%;
    border: none;
    aspect-ratio: 1/1;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.input-bar{
    height: 20px;
    padding: 4px;
    box-shadow: 1px 1px 0.5rem rgba(255, 255, 255, 0.3);
    border-radius: 1%;
    outline: none;
    border: none;
}

body.dark .lupa{
    color: white;
}

